.mailgun-subscription-form {
	position: relative;
}

.mailgun-subscription-form .mailgun-ajax-loading-spinner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: rgba(255, 255, 255, 0.2) url('./spinner.gif') no-repeat center center;
}

.mailgun-subscription-form .mailgun-subscription-form-lists li {
	margin-bottom: 0.5em;
}

.mailgun-subscription-form .mailgun-list-description {
	font-style: italic;
}

.mailgun-subscription-form .email-address label {
	display: block;
	margin-bottom: 0.25em;
}

.mailgun-form-description {
	margin-bottom: 1em;
}

.mailgun-message {
	font-style: italic;
}

.mailgun-message.error {
	color: #CC0000;
}

.mailgun-subscription-account-management .mailgun-subscription-details {
	margin: 0 0 1em;
}

.mailgun-subscription-account-management .mailgun-subscription-details h3 {
	margin: 0 0 0.25em;
}

.mailgun-subscription-account-management .mailgun-subscription-details p {
	margin: 0;
	padding-left: 1em;
}

.mailgun-subscription-account-management .mailgun-subscription-details p.current-status {
	padding-left: 0;
}

.mailgun-subscription-account-management .mailgun-subscription-details p.current-status::before {
	display: inline-block;
	width: .8em;
	font-size: 1.25em;
	line-height: 1.2;
	position: relative;
	top: 1px;
}

.mailgun-subscription-account-management .mailgun-subscription-details p.subscribe.current-status::before {
	content: '\2713'; /* check mark */
	color: #23b225;
}

.mailgun-subscription-account-management .mailgun-subscription-details p.unsubscribe.current-status::before {
	content: '\2717'; /* box with x */
	color: #d42626;
}

.mailgun-change-email .mailgun-change-email-controls {
	display: none;
}

.mailgun-change-email .mailgun-change-email-controls input[type="text"] {
	width: auto;
}

.mailgun-change-email .mailgun-change-email-controls input[type="submit"] {
	margin-left: 1em;
}

.mailgun-change-email .mailgun-current-email input[type=button] {
	font-size: 70%;
	text-transform: none;
	margin-left: 1em;
}